#root{
    display: flex;
    justify-content: space-evenly;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

textarea{
    height: 85vh;
    width: 70vw;
    border-radius: 5px;
    padding: 20px;
    resize: none;
}

textarea:focus{
    outline: none;
    border-color: #707070;
}

.ProseMirror {
  position: relative;
  word-wrap: break-word;
  white-space: break-spaces;
  -webkit-font-variant-ligatures: none;
  font-variant-ligatures: none;
  font-feature-settings: "liga" 0;
  padding: 1rem;
  line-height: 1.4;
  outline: none;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
  min-height: 300px;
}

/* Lists, blockquote, etc. */
.ProseMirror ul,
.ProseMirror ol {
  padding-left: 30px;
}

.ProseMirror blockquote {
  padding-left: 1em;
  border-left: 3px solid #eee;
  margin-left: 0;
  margin-right: 0;
}

/* Menubar / buttons (if you’re using the demo toolbar) */
.menu {
  display: flex;
  margin-bottom: 5px;
}

.button {
  cursor: pointer;
  width: 36px;
  height: 36px;
  margin-right: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: none;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
  color: black;
  background-color: white;
}

.button[aria-pressed="true"] {
  background-color: #ddd;
  color: blue;
}

.button.bold {
  font-weight: 700;
}

.button.italic {
  font-style: italic;
}

/* y-prosemirror cursors */
.ProseMirror-yjs-cursor {
  position: relative;
  margin-left: -1px;
  margin-right: -1px;
  border-left: 1px solid orange;
  border-right: 1px solid orange;
  pointer-events: none;
}

.ProseMirror-yjs-cursor > div {
  position: absolute;
  top: -1.05em;
  left: -1px;
  font-size: 13px;
  background-color: rgb(250, 129, 0);
  color: white;
  padding: 0 2px;
  white-space: nowrap;
  user-select: none;
}
